{% extends 'layout.html' %}

{% block title %}Cart{% endblock title %}

{% block content %}

<div class="heading mt-5">
    Your Cart
</div>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% if not items %}
          <tr class="alert alert-success alert-dismissible fade show" role="alert">
              No items in cart
          </tr>
          {% else %}

          {% for x in items %}
          <tr>
            <td>{{x.name}}</td>
            <td>{{x.quantity}}</td>
            <td>Rs. {{x.price}}</td>
            <td>
              <form action="" method="POST">
                {% csrf_token %}
                <input hidden name="id" value="{{x.id}}" />
                <button class="btn alert-danger" type="submit"><i class="far fa-trash-alt"></i></button>
              </form>
            </td>
          </tr>
          {% endfor %}

          {% endif %}
        

          <tr class="table-dark">
            <td colspan="5" style="color: black;font-weight: bold;">TOTAL PRICE: Rs. {{total}}</td>
          </tr>
        </tbody>
      </table>


{% endblock content %}