{% extends 'layout.html' %}

{% block title %}Cart{% endblock title %}

{% block content %}

<div class="heading">
    Your Cart
</div>
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Pizza</td>
            <td>2</td>
            <td>200</td>
            <td>
                <a href="#"><i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          <tr class="table-dark">
            <td colspan="5" style="color: black;font-weight: bold;">TOTAL PRICE:-</td>
          </tr>
        </tbody>
      </table>


{% endblock content %}