{% extends 'layout.html' %}
{% load static %}


{% block title %}Menu{% endblock title %}

{% block content %}
{% if request.session.msg %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{request.session.msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<h1 class="heading mt-5">Menu</h1>
<div class="container menu">
    
        {% for x in foods %}
        <div class="col item-container mb-5">
            <div class="row">
                <div class="col-2">
                    <img class="image" src="{{x.img}}" alt="">
                </div>
                <div class="col">
                    <div class="info">
                        <h2>{{x.name}}</h2>
                        <p class="ingredients">{{x.desc}}</p>
                        <p class="amount">Rs. {{x.price}}</p>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input class="form-control quantity" placeholder="Quantity" type="number" name="quantity" required min="1" />
                        <input hidden name="id" value="{{x.id}}" />
                        <a href="#"><button type="submit" class="btn btn-warning cust-btn">Add To Cart</button></a>
                    </form>
                </div>
                <div class="col-1">
                    <div class="category veg"></div>           
                </div>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock content %}